:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --font-large: 2rem;
  --font-normal: 0.871rem;
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  img,
  p {
    margin-block: 0;
  }
}

body {
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

article {
  width: 600px;
  position: relative;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 450px;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.caption {
  text-transform: uppercase;
  letter-spacing: 0.5ch;
  font-size: 0.75rem;
}

h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: var(--font-large);
}

p,
del {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-normal);
  font-weight: 500;
  color: var(--grey);
  line-height: 1.6;
}

.price {
  display: flex;
  align-items: center;
  gap: 2ch;
}

strong {
  color: var(--green-500);
  font-size: var(--font-large);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.attribution {
  position: fixed;
  bottom: 0;
}

button {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-500);
  border: none;
  padding: 0.875rem 0;
  border-radius: 8px;

  span {
    font-size: var(--font-normal);
    font-weight: 700;
    letter-spacing: 0.1ch;
    line-height: 1.6;
  }

  img {
    width: 20px;
    margin-right: 1.5ch;
  }
}
